.State-zoom-container {
    width: 350px;
    height: 100px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.Quicklink-container {
    width: 350px;
    height: 40px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.welcomeMessage {
    display: inline-block; /* Makes the div only as wide as its content */
    padding: 10px; /* Adds space inside the box around the content */
    margin: 10px; /* Adds space outside the box */
    background-color: #3a8dad; /* A darker shade of blue for the background */
    text-shadow: 5px 5px 14px #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 5px; /* Optional: rounds the corners of the box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow it to grow as needed */
  text-align: center;
}

.banner-container {
  display: flex; /* Enable Flexbox */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-around; /* Space out the items evenly */
}


/* Style for the image container */
.image-container {
  width: 800px; /* Fixed width */
  height: 180px; /* Fixed height */
  text-align: center; /* Center the image */
  margin-top: 20px; /* Add some space at the top */
  border: 1px solid black; /* Optional border */
  overflow: hidden;
}



/* Style for the image itself */
.image-container img {
  width: 100%; /* Width of the image to 100% of its container */
  height: 100%; /* Height of the image to 100% of its container */
  object-fit: cover; /* This will cover the div area, cropping the image if necessary */
  border: 1px solid black; /* Optional border */
}


.groupMessage {
  display: inline-block;
  padding: 10px; /* Keep the padding to ensure there's space around the text */
  margin: 10px; /* Adjust the margin as needed */
  background-color: #3a8dad; /* A darker shade of blue for the background */
  text-shadow: 5px 5px 14px #000000; /* Shadow for the text */
  color: #ffffff; /* Text color */
  text-align: center; /* Center the text within the div */
  border-radius: 5px; /* Rounds the corners of the box */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for the box */
  border: 1px solid black;
  height: 70px;
    
}



.username{
    color: White
}

.email{
    color: #f36d6d;
}

.comments-section {
    
}

.comment-form{
    
}

.box-container {
    font-family: 'Roboto', sans-serif;
    display: flex; /* Use flexbox */
    justify-content: space-between;
    align-items: start; /* Align children vertically */
    height: auto;
    margin-bottom: 20px;
}

.homeBox-container {
  font-family: 'Roboto', sans-serif;
    display: flex; /* Use flexbox */
    justify-content: space-between;
    align-items: stretch; /* Align children vertically */
    height: 80vh; /* Set a height for the container */
}

.homeBox1 {
  font-family: 'Roboto', sans-serif;
    display: inline-block; /* Makes the div only as wide as its content */
    padding: 10px; /* Adds space inside the box around the content */
    margin: 10px; /* Adds space outside the box */
    background-color: #3a8dad; /* A darker shade of blue for the background */
    text-shadow: 5px 5px 14px #000000;
    color: #ffffff;
    text-align: left;
    border-radius: 5px; /* Optional: rounds the corners of the box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.homeBox2 {
    flex-grow: 1; /* Grow to take up the remaining space */
    /* flex-basis: 0; Implicitly set to 0 if not specified */
    /* Ensure no margin or padding is pushing the map out of its container */
    border: 1px solid black;
}

#map {
    width: 100%; /* Set the map width to fill its container */
    height: 100%; /* Set the map height to fill its container */
}

#mapGroup {
    width: 100%; /* Set the map width to fill its container */
    height: auto;
    object-fit: cover; /* Set the map height to fill its container */
    border: 1px solid black;
}


.box1 {
  font-family: 'Roboto', sans-serif;
    display: inline-block; /* Makes the div only as wide as its content */
    padding: 10px; /* Adds space inside the box around the content */
    margin: 10px; /* Adds space outside the box */
    background-color: #3a8dad; /* A darker shade of blue for the background */
    text-shadow: 5px 5px 14px #000000;
    color: #ffffff;
    text-align: left;
    border-radius: 5px; /* Optional: rounds the corners of the box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    flex: 1;
}

.box2 {
  flex: 1;
  margin: 10px;
}

.userGroup {
    
}

.homepageDisplay {
  font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    
}

.homepageDisplay h1 {
    color: #333;
    margin-bottom: 30px;
}
  
.homepageDisplay button {
  font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a8dad;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Make the buttons block to fill the width */
}
  
.homepageDisplay button:hover {
    background-color: #297a9d;
}
  
.homepageDisplay a {
    text-decoration: none;
    color: #3a8dad;
    margin-top: 15px;
    display: block; /* This will ensure the anchor tag behaves like a block element */
}
  
.homepageDisplay a:first-child {
    margin-top: 0;
}

.login-container {
  font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin: 20px;
    float: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-container h2 {
    color: #333;
    margin-bottom: 30px;
  }
  
  .login-container label {
    display: block;
    margin-top: 20px;
    color: #333;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-container button {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a8dad;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-container button:hover {
    background-color: #297a9d;
  }
  
  .login-container a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #3a8dad;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }

  .form-container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin: 20px;
    float: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-container h1 {
    color: #333;
    margin-bottom: 30px;
  }
  
  .form-container label {
    display: block;
    margin-top: 20px;
    color: #333;
  }
  
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a8dad;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #297a9d;
  }

  .returnButton {
    display: inline-flex; /* Use inline-flex to fit the width to its content */
    align-items: center; /* Center align the button vertically */
    justify-content: center; /* Center align the button horizontally */
    margin: 10px;
    margin-left: auto;
}

/* Adjust button styling as needed */
.returnButton button {
  font-family: 'Roboto', sans-serif;
  padding: 10px; /* Add padding for the button for better click area */
    border-radius: 5px;
    background-color: #3a8dad;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
  /* Full width of its container */
}

.top-row {
  display: flex;
    align-items: center; /* This will vertically center the children */
    justify-content: space-between;
  height: 140px;
}

.group-container {
  font-family: 'Roboto', sans-serif;
  display: inline-block; /* Makes the div only as wide as its content */
    padding: 10px; /* Adds space inside the box around the content */
    margin: 2px; /* Adds space outside the box */
    background-color: #3a8dad; /* A darker shade of blue for the background */
    text-shadow: 5px 5px 14px #000000;
    color: #ffffff;
    text-align: left;
    border-radius: 5px; /* Optional: rounds the corners of the box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    float: left;
    height: 70px;
   
}
